body {
    margin: 0;
    font-size: 15px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(38, 39, 48);

}

nav {
    margin-right: 6.25em;
}



#top {
    display: none;

}

.menu label {
    display: flex;
    justify-content: end;
    margin-top: 0.625em;
    font-size: 2.5em;
    color: white;
}

#top:checked~ul li {
    display: block;
    margin-top: 0.25em;
}

#up:checked~.registro {
    display: none;
}

#up:checked~.inicio {
    display: initial;
}

.inicio {
    display: none;
}


a:link,
a:visited {
    color: white;
    text-decoration: none;
}

ul li {

    display: none;
    color: white;
    text-decoration: none;
    padding: 2.5em;
    background-color: rgba(255, 166, 0, 0.918);
    font-size: 1.0625em;
}

ul li:hover {
    background-color: rgb(231, 88, 88);
}

h1 {
    color: white;
    font-size: 2.5em;
    margin-left: 2.5em;
}

h2 {
    font-size: 1.8125em;
    text-align: center;
    font-family: cursive;
}

.cuadro1 {
    border: solid 0.1em black;
    border-radius: 1.25em;

    background-color: rgba(241, 241, 241, 0.925);
    width: 35em;
    height: 42.25em;
    margin: 3.125em;
    padding: 1.25em;
    box-shadow: -0.0625em -0.0625em .375em 0 rgb(122, 221, 102), .25em .25rem 1em .125em rgb(63, 63, 63);
}

.cuadro2 {
    border: solid 0.1em black;
    border-radius: 1.25em;

    background-color: rgba(241, 241, 241, 0.925);
    width: 35em;
    height: 35.25em;
    margin: 3.125em;
    padding: 1.25em;
    box-shadow: -0.0625em -0.0625em .375em 0 rgb(122, 221, 102), .25em .25rem 1em .125em rgb(63, 63, 63);
}


input[type=text],
[type=password] {
    background-color: rgba(248, 248, 248, 0.993);
    padding: 6px;
    margin: 5px 0;
    border: 1px solid rgb(211, 211, 211);
    width: 290px;
    height: 25px;
    padding-left: 10px;
}

input[type="text"].date {
    background-color: rgba(248, 248, 248, 0.993);
    padding: 6px;
    margin: 5px 0;
    border: 1px solid rgb(211, 211, 211);
    width: 80px;
    height: 25px;
    padding-left: 10px;
    margin-left: 0px;
}

.dato {
    position: absolute;
    width: 6.25em;
    font-size: 1.0625em;

}

.mandar {
    margin-top: 2.3125em;
    width: 16.75em;
    height: 3em;
    background-color: rgb(0, 119, 255);
    color: white;
    cursor: pointer;
    font-size: 1em;
    border-radius: 1em;
    border: 0em;
    box-shadow: -0.0625em -0.0625em .375em 0 rgb(100, 165, 190), .25em .25em 1em .125em rgb(159, 197, 214);
    text-align: center;
    padding-top: 15px;
}


#up {
    display: none;
}

#up2 {
    display: none;
}

button:hover {
    background-color: rgb(87, 87, 87);
}

main {
    display: flex;
    justify-content: center;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    box-shadow: -0.0625em -0.0625em .375em 0 rgb(102, 102, 102), .25em .25em 1em .125em rgb(118, 119, 119);
    margin-bottom: 40px;

}


@media(max-width:1400px) {
    body {
        font-size: 9px;
    }
}